<a href="/">
    <img src="../public/icon/home.png" alt="Back To Main Menu" style="width:3em;height:3em;position:absolute;bottom:5%;left:30%">
</a>
<a href="" onclick="window.location.reload">
    <img src="../public/icon/replay.png" alt="Restart" style="width:3em;height:3em;position:absolute;bottom:5%;right:30%">
</a>