<a href="/">
    <img src="../public/icon/home.png" alt="Back To Main Menu" style="width:42px;height:42px;position:absolute;bottom:5%;left:40%">
</a>
<a href="" onclick="window.location.reload">
    <img src="../public/icon/replay.png" alt="Restart" style="width:42px;height:42px;position:absolute;bottom:5%;right:40%">
</a>