<!DOCTYPE html>

<%- include('header'); -%>

<head>
	<title>About</title>
</head>

<body>
	<%- include('navbar'); -%>
	<div class="container-fluid justify-content-center">
		<br>
		<span style="text-align:center">
			<h1>Meet the Creators</h1>
			<br>
			<h5>Atilla Turkmen: <a href="https://github.com/atillaturkmen">Github</a></h5>
			<br>
			<h5>Deniz Cakiroglu: <a href="https://github.com/DBC201">Github</a></h5>
			<br>
			<h5><a href="https://github.com/DBC201/rocket_dodge_server">Server source code</a></h5>
		</span>
	</div>
</body>

</html>