<!--- omniamorsaequat.com --->
<!--- https://github.com/DBC201/rocket_dodge_server --->
<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
    <title>Downloads</title>
</head>

<body>
    <%- include('navbar'); -%>
    <div class="container-fluid">
        <br>
        <h>Android Versions</h>
        <br>
        <br>
        <a href="/downloads/android/dodge-0.1.0">Dodge for android(.apk)(v0.1.0)</a>
        <br>
        <br>
        <br>
        <br>
        <p>Changelog:</p>
        <br>
        <br>
        <p>Version 0.1.0</p>
        <br>
        <p>Made home screen prettier.</p>
    </div>
</body>

</html>