<!--- rocketdodgegame.com --->
<!--- https://github.com/DBC201/rocket_dodge_server --->
<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
    <title>Downloads</title>
</head>

<body>
    <%- include('navbar'); -%>
    <div class="container-fluid">
        <br>
        <p>We have started working on a version of the game for mobile platforms!</p>
        <br>
        <p>It's still on early development and lacks many features.</p>
        <a href="/downloads/android">Android</a>
    </div>
</body>

</html>