<!--- rocketdodgegame.com --->
<!--- https://github.com/DBC201/rocket_dodge_server --->
<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
	<title>High Scores</title>
</head>

<body>
	<%- include('navbar'); -%>
	<div class="container-fluid" style="width: 95vw;">
		<br>
		<a href="/score/high_scores/rocket_dodge">Rocket Dodge High Scores</a>
		<br>
		<br>
		<a href="/score/high_scores/hold_dodge">Hold Dodge High Scores</a>
		<br>
		<br>
		<a href="/score/high_scores/hold_dodge_accelerated">Hold Dodge (Accelerated) High Scores</a>
		<br>
		<br>
		<a href="/score/high_scores/touch_dodge">Touch Dodge High Scores</a>
		<br>
	</div>
</body>

</html>