<!--- omniamorsaequat.com --->
<!--- https://github.com/DBC201/rocket_dodge_server --->
<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
	<title>Homepage</title>
</head>

<body>
	<%- include('navbar'); -%>
	<div class="container-fluid">
		<br>
		<p1><%= message %></p1>
	</div>
</body>

</html>